<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/list"></ion-back-button>
    </ion-buttons>

    <ion-title></ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="onClick()">
            <ion-icon slot="start" [name]="favorito?'heart':'heart-outline'" color="danger"></ion-icon>
            <!-- Click me -->
          </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container {{details?.background}}">
    <section class="ion-padding-vertical">
      <div style="display: flex;justify-content: space-between;" class="ion-padding-horizontal">
        <h1 class="ion-text-uppercase">{{details?.name}}</h1>
        <h2># {{details?.id}}</h2>
      </div>
      <div *ngIf="details">
        <ion-img src="{{imgUrl}}{{details.id}}.svg" style="height:200px;"></ion-img>
      </div>
    </section>

    <div class="content">
      <nav>
        <a>About</a>
        <a>Base Stats</a>
        <a>Evolution</a>
        <a>Moves</a>
      </nav>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">Height</ion-col>
          <ion-col size="6">{{details?.height/10}} m</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">Weight</ion-col>
          <ion-col size="6">{{details?.weight/10}} kg</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">Abilities</ion-col>
          <ion-col size="6">
            <span *ngFor="let a of details?.abilities" class="ion-text-capitalize">{{a.ability.name}} </span>
          </ion-col>
        </ion-row>
      </ion-grid>
      <b>STATS</b>
      <ion-grid fixed>
        <ion-row *ngFor="let s of details?.stats">
          <ion-col size="6">
            <span class="ion-text-capitalize stat-name">{{s.stat.name}}</span>
          </ion-col>
          <ion-col size="6">
            <span class="stat-cant">{{s.base_stat}}%</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>