<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/list"></ion-back-button>
    </ion-buttons>

    <ion-title></ion-title>
    <ion-icon slot="end" name="heart-outline"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <section>
      <div style="display: flex;justify-content: space-between;" class="ion-padding-horizontal">
        <h1 class="ion-text-uppercase">{{details?.name}}</h1>
        <h2># {{details?.id}}</h2>
      </div>
      <div *ngIf="details">
        <ion-img src="{{imgUrl}}{{details.id}}.svg" style="height:200px;"></ion-img>
      </div>
    </section>

    <!-- <div class="content">
    
    </div> -->
    <div>

    </div>
  </div>
</ion-content>