<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Pokedex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let character of pokemonsList;">
        <ion-card class="ion-padding-vertical {{character.cssClass}} card" color="light">
          <ion-card-subtitle class="ion-text-center">
            {{character.name}}
          </ion-card-subtitle>

          <ion-card-content class="content__container">
            <div class="type__container">
              <ion-text class="type__text" *ngFor="let tipo of character.types">
                {{tipo.type.name}}
              </ion-text>
            </div>
            <!-- <ion-avatar>
              <img src={{character.image}} />
            </ion-avatar> -->

            <ion-img [src]="character.image"></ion-img>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>


</ion-content>