.bug {
  background: #aedf78;
}

.water {
  background: #43ccff;
}

.grass {
  background: #00ca91;
}

.fire {
  background: #e95c4d;
}

.normal {
  background: #a5a5a5;
}

.poison {
  background: #7f01fe;
}

.electric {
  background: #FED76E;
}

.ion-height-100 {
  height: 180px;
}